@page

@model ThormaFrontend.Pages.Feladatok.IndexModel


<h1>Lekérdezési feladatok</h1>


<ul class="list-group">

    <li class="list-group-item">

        <a asp-page="./2haboru">2haboru – 1914-ben élő festők</a>

    </li>

    <li class="list-group-item">

        <a asp-page="./3anyag">3anyag – Olaj technikájú anyagok</a>

    </li>

    <li class="list-group-item">

        <a asp-page="./4domb">4domb – Domb szót tartalmazó képek</a>

    </li>

    <li class="list-group-item">

        <a asp-page="./5magas">5magas – Legmagasabb kép</a>

    </li>

    <li class="list-group-item">

        <a asp-page="./6evek">6evek – Évenkénti darabszám</a>

    </li>

</ul>